################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/x64/
/keyTrap/keyTrap.vcxproj.filters
/keyTrap/keyTrap.vcxproj.user
